{% extends 'core/base.html' %}
{% load static %}

{% block cindex %}class = "active"{% endblock cindex %}

{% block content %}

		<span id="header_shadow"></span>
		<!-- /TOP NAV -->

		<!-- WRAPPER -->
		<div id="wrapper">
			
			<section id="slider" class="full-screen" data-autoplay="9000" data-mouseover-stop="false"><!-- data-autoplay = 'fals'e or miliseconds. Eg.: 5s = '5000' ; data-mouseover = stop on mouseover. 'true' or 'false')

				<!-- slider navigation -->
				<nav class="slides-navigation">
					<a class="prev" href="#"></a>
					<a class="next" href="#"></a>
				</nav>

				<ul class="slides-container">
                    
                    <!-- Item 1 -->
					<li class="styleBackground"><!-- background color -->

						<div class="image-caption">
							<div class="inner text-center noimg-slider">
                                <h3>Votre boutique de</h3>
								<h1 class="lead">Meubles et Décoration</h1>
                                <h2>Au coeur de Jarry en Guadeloupe</h2>
							</div>
						</div>
                        <!--<span class="overlay"></span>-->
						<div style="background-image: url('{% static "images/comptoir_nature_slide4.jpg" %}');" class="fullscreen-img"></div>
					</li>

					<!-- Item 2 -->
					<li class="styleBackground"><!-- background color -->

						<div class="image-caption">
							<div class="inner text-center noimg-slider">
                                <h3>Votre boutique de</h3>
								<h1 class="lead">Meubles et Décoration</h1>
                                <h2>Au coeur de Jarry en Guadeloupe</h2>
							</div>
						</div>
                        <!--<span class="overlay"></span>-->
						<div style="background-image: url('{% static "images/comptoir_nature_slide5.jpg" %}');" class="fullscreen-img"></div>
					</li>

					<!-- Item 3 -->
					<li class="styleBackground"><!-- background color -->

						<div class="image-caption">
							<div class="inner text-center noimg-slider">
                                <h3>Votre boutique de</h3>
								<h1 class="lead">Meubles et Décoration</h1>
                                <h2>Au coeur de Jarry en Guadeloupe</h2>
							</div>
						</div>
                        <!--<span class="overlay"></span>-->
						<div style="background-image: url('{% static "images/comptoir_nature_slide1.jpg" %}');" class="fullscreen-img"></div>
					</li>

					<!-- Item 4 -->
					<li class="styleBackground"><!-- background color -->

						<div class="image-caption">
							<div class="inner text-center noimg-slider">
                                <h3>Votre boutique de</h3>
								<h1 class="lead">Meubles et Décoration</h1>
                                <h2>Au coeur de Jarry en Guadeloupe</h2>
							</div>
						</div>
                        <!--<span class="overlay"></span>-->
						<div style="background-image: url('{% static "images/comptoir_nature_slide2.jpg" %}');" class="fullscreen-img"></div>
					</li>

					<!-- Item 5 -->
					<li class="styleBackground"><!-- background color -->

						<div class="image-caption">
							<div class="inner text-center noimg-slider">
                                <h3>Votre boutique de</h3>
								<h1 class="lead">Meubles et Décoration</h1>
                                <h2>Au coeur de Jarry en Guadeloupe</h2>
							</div>
						</div>
                        <!--<span class="overlay"></span>-->
						<div style="background-image: url('{% static "images/comptoir_nature_slide3.jpg" %}');" class="fullscreen-img"></div>
					</li>

				</ul>

			</section>



			<!-- ABOUT US -->
			<section id="about" class="padding100">
				<div class="container">

					<h1 class="text-center"><strong>Bienvenue</strong> chez Comptoir Nature</h1>
					<div class="divider"><!-- divider -->
						<i class="fa fa-star"></i>
					</div>

					<p class="lead">{{ text.Section_1|safe }}</p>
                    
                    <p>{{ text.Section_2|safe }}</p>
					
					<hr />
					
					<!-- BORN TO BE A WINNER -->
					<article class="row">
						<div class="col-md-6">
							<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
								<div>
									<img class="img-responsive" src="{% static 'images/nathalie_comptoir_nature.jpg' %}" width="555" height="311" alt="">
								</div>
                                <div>
									<img class="img-responsive" src="{% static 'images/comptoir-nature-exterieur.jpg' %}" width="555" height="311" alt="">
								</div>
								<div>
									<iframe src="http://player.vimeo.com/video/25076865" width="800" height="450"></iframe>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<h3>{{ text.Section_3|safe }}</h3>
							<p>{{ text.Section_4|safe }}</p>
						</div>

					</article>
					<!-- /BORN TO BE A WINNER -->


				</div>
			</section>
			<!-- /ABOUT US -->


			<!-- MEET THE TEAM -->
			<section id="team" class="special-row padding100 margin-footer">
				<div class="container">

					<h1 class="text-center">Produits et Services</h1>
					<div class="divider"><!-- divider -->
						<i class="fa fa-star"></i>
					</div>


					<p class="lead">{{ text.Section_5|safe }}</p>

					<div class="row">

						{% for c in categories %}

						<div class="col-md-3"><!-- item 3 -->
							<div class="item-box">
								<figure>
									<img class="img-responsive" src="{{ c.image.url }}" width="263" height="263" alt="">
								</figure>
								<div class="item-box-desc">
									<h4>{{ c.title }}</h4>
								</div>
							</div>
						</div>


						


						{% if forloop.counter|divisibleby:4 %}
							</div>
							<div class="row">

						{% endif %}
						{% endfor %}

					</div>

				</div>
			</section>
			<!-- /MEET THE TEAM -->


		</div>
		<!-- /WRAPPER -->


{% endblock content %}


{% block latestposts %}
{% for p in lposts %}
<div class="post-item">
	<small>{{ p.date|date:"M d, Y" }}</small>
	<h3><a href="blog-single-sidebar-left.html">{{ p.title }}</a></h3>
</div>
{% endfor %}

{% endblock latestposts %}