{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<span id="header_shadow"></span>
		<!-- /TOP NAV -->


		<!-- WRAPPER -->
		<div id="wrapper">

			<div id="blog">

				<!-- PAGE TITLE -->
				<header id="page-title">
					<div class="container">
						<h1>Publications</h1>

						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}">Accueil</a></li>
							<li class="active">Publications</li>
						</ul>
					</div>
				</header>


				<section class="container">

					<form method="get" action="#" class="input-group masonry-search">
						<input type="text" class="form-control" name="k" id="k" value="" placeholder="rechercher..." />
						<span class="input-group-btn">
							<button class="btn btn-primary"><i class="fa fa-search"></i></button>
						</span>
					</form>

					<!-- Masonry Loader -->
					<span class="js_loader"><i class="fa fa-asterisk fa-spin"></i>CHARGEMENT EN COURS...</span>

					<ul class="masonry-list">

						{% for p in posts %}

						<li class="masonry-item col-sm-4">

							
							<div class="item">

								<!-- article title -->
								<div class="item-title">
									<br>
									{# <h2><a href="blog-single-sidebar-left.html">Jaune et Marron</a></h2> #}
									{# <a href="blog.html" class="label label-default light"><i class="fa fa-dot-circle-o"></i> Thème</a>  #}
									{# <span class="label label-default light">{{ p.date }}</span>  #}
								</div>

								<!-- image -->
								<figure>
									<a href="{{ p.url }}"><img src="{{ p.image }}" width="260" height="260" class="img-responsive" alt="img" /></a>
								</figure>

								<!-- blog short preview -->
								<p>
									{{ p.text|truncatechars:100 }}
								</p>

							</div>
						</li>

						{% endfor %}
                        
                        
                        
					</ul>

				</section>

			</div>
		</div>
		<!-- /WRAPPER -->


{% endblock content %}